<html>
    <head>
        <meta charset="utf-8">
        <title>ITF - List of Bus Rigs</title>
        <script type="text/javascript">      
        </script>
        <style>
        h1, h2 {
            font-family: arial, sans-serif;
        }
    
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #ffffff;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #fafafa;
        }
        </style>
    </head>
    <body>
        <h1>List of Bus Rigs</h1>
        <ul>
            <li><a href="/itf/devices">List of FLRs and Gates</a></li>
            <li><a href="/itf/">List of SCs</a></li>
        </ul>
        <form id="formtable" action="" method="post"><table>
            <tr>
                <th>Rig ID</th>
                <th>Depot Name</th>
                <th>Environment</th>
                <th>Package Version</th>
                <th>RTD</th>
            </tr>
        </table>
        <p id="formdummy"></p></form>
    </body>
</html>