<html>
    <head>
        <meta charset="utf-8">
        <title>ITF - List of SCs</title>
        <script type="text/javascript">
        function edit_row(id) {
            var cur_ip=document.getElementById("ip"+id).innerHTML;
            var cur_location=document.getElementById("location"+id).innerHTML;
            var cur_version=document.getElementById("version"+id).innerHTML;
            var cur_nlc=document.getElementById("nlc"+id).innerHTML;
            var cur_scnumber=document.getElementById("scnumber"+id).innerHTML;
            var cur_transportmode=document.getElementById("transportmode"+id).innerHTML;
            var cur_environment=document.getElementById("environment"+id).innerHTML;
            var cur_priconc=document.getElementById("priconc"+id).innerHTML;
            var cur_secconc=document.getElementById("secconc"+id).innerHTML;
            //var cur_devicesactive=document.getElementById("devicesactive"+id).innerHTML;
            var cur_id = id.toString();

            document.getElementById("ip"+id).innerHTML="<input type='text' id='ip_text"+id+"' name='new_ip"+id+"' value='"+cur_ip+"'>";
            document.getElementById("formdummy").innerHTML="<input type='hidden' name='id' value='"+cur_id+"'>";
            document.getElementById("location"+id).innerHTML="<input type='text' id='location_text"+id+"' name='new_location"+id+"' value='"+cur_location+"'>";
            document.getElementById("version"+id).innerHTML="<input type='text' id='version_text"+id+"' name='new_version"+id+"' value='"+cur_version+"'>";
            document.getElementById("nlc"+id).innerHTML="<input type='text'id='nlc_text"+id+"' name='new_nlc"+id+"' value='"+cur_nlc+"'>";
            document.getElementById("scnumber"+id).innerHTML="<input type='text' id='scnumber_text"+id+"' name='new_scnumber"+id+"' value='"+cur_scnumber+"'>";
            document.getElementById("transportmode"+id).innerHTML="<input type='text' id='transportmode_text"+id+"' name='new_transportmode"+id+"' value='"+cur_transportmode+"'>";
            document.getElementById("environment"+id).innerHTML="<input type='text' id='environment_text"+id+"' name='new_environment"+id+"' value='"+cur_environment+"'>";
            document.getElementById("priconc"+id).innerHTML="<input type='text' id='priconc_text"+id+"' name='new_priconc"+id+"' value='"+cur_priconc+"'>";
            document.getElementById("secconc"+id).innerHTML="<input type='text' id='secconc_text"+id+"' name='new_secconc"+id+"' value='"+cur_secconc+"'>";
            //document.getElementById("devicesactive"+id).innerHTML="<input type='text' id='devicesactive_text"+id+"' name='new_devicesactive"+id+"' value='"+cur_devicesactive+"'>";

            document.getElementById("edit_button0").style.display="none";
            {{range .}}
                document.getElementById("edit_button"+{{.Scid}}).style.display="none";
            {{end}}
            document.getElementById("save_button"+id).style.display="block";
        }

        function save_row() {
            document.getElementById("formpopup").submit();
        }      

        function show_details(id) {
            var x = document.getElementById("detailedinfo"+id);
            if (x.style.display == "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }

        function cancel_popup_form() {
            var x = document.getElementById("popupform");
            if (x.style.display == "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }

        function toggle_popup_form(id) {
            var x = document.getElementById("popupform");
            if (x.style.display == "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }

            var cur_ip=document.getElementById("ip"+id).innerHTML;
            var cur_location=document.getElementById("location"+id).innerHTML;
            var cur_version=document.getElementById("version"+id).innerHTML;
            var cur_nlc=document.getElementById("nlc"+id).innerHTML;
            var cur_scnumber=document.getElementById("scnumber"+id).innerHTML;
            var cur_transportmode=document.getElementById("transportmode"+id).innerHTML;
            var cur_environment=document.getElementById("environment"+id).innerHTML;
            var cur_priconc=document.getElementById("priconc"+id).innerHTML;
            var cur_secconc=document.getElementById("secconc"+id).innerHTML;

            document.getElementById("editformheading").innerHTML="Editing "+cur_ip+" (" +id+")";
            document.getElementById("popupid").value=id;
            document.getElementById("popupip").value=cur_ip;
            document.getElementById("popuplocation").value=cur_location;
            document.getElementById("popupversion").value=cur_version;
            document.getElementById("popupnlc").value=cur_nlc;
            document.getElementById("popupscnumber").value=cur_scnumber;
            document.getElementById("popuptransportmode").value=cur_transportmode;
            document.getElementById("popupenvironment").value=cur_environment;
            document.getElementById("popuppriconc").value=cur_priconc;
            document.getElementById("popupsecconc").value=cur_secconc;
            
        }
        </script>
        <style>
        h1, h2 {
            font-family: arial, sans-serif;
        }
    
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dfdcdc;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #fafafa;
        }

        .dataheader {
            text-align:right;
        }

        .edit_button {
            border: none;
            color: white;
            padding: 4px 8px;
            background-color: rgb(65,105,225);
        }

        .edit_button:hover {
            background-color: rgb(177, 188, 221);
        }

        .save_button {
            border: none;
            color: white;
            padding: 4px 8px;
            background-color: rgb(65,105,225);
        }

        .save_button:hover {
            background-color: rgb(177, 188, 221);
        }

        .detailedview {
            display: none;
            background-color: rgba(65,105,225, 0.884);
            position: fixed;
            padding: 2em;
            width: 400px;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%)
        }


        </style>
        <link rel="stylesheet" type="text/css" href="../static/templates/stylesheets/topnavbar.css">
        <link rel="stylesheet" type="text/css" href="../static/templates/stylesheets/popupforms.css">
    </head>
    <body>
        <div class="topnav">
            <a href="/itf/layout">Visual Layout</a>
            <a class="topactive" href="/itf/">List SCs</a>
            <a href="/itf/devices">List Gates/FLRs</a>
            <a href="/itf/busrigs">List BVs</a>
            <a href="/itf/dopps">List DOPPs</a>
        </div>
        <h1>List of SCs</h1>
        <form id="formtable" action="" method="post"><table>
            <tr>
                <th>SC Name</th>
                <th>IP</th>
                <th>Location Name</th>
                <th class="dataheader">SC Version</th>
                <th class="dataheader">NLC</th>
                <th class="dataheader">SC</th>
                <th class="dataheader">Transport Mode</th>
                <th class="dataheader">Environment</th>
                <th class="dataheader">Devices?</th>
                <th class="dataheader">Last Update (Y-M-D)</th>
                <th class="dataheader">Updated by</th>
                <th class="dataheader">Comments</th>
            </tr>
            {{range .}}
            <tr id="row{{.Scname}}" class="datarow">
                <td id="name{{.Scname}}"  class="scname">{{.Scname}}</td>
                <td id="ip{{.Scname}}">{{.Ip}}</td>
                <td id="location{{.Scname}}">{{.Location}}</td>
                <td class="dataheader" id="version{{.Scname}}">{{.Version}}</td>
                <td class="dataheader" id="nlc{{.Scname}}">{{.Nlc}}</td>
                <td class="dataheader" id="scnumber{{.Scname}}">{{.Scnumber}}</td>
                <td class="dataheader" id="transportmode{{.Scname}}">{{.Transportmode}}</td>
                <td class="dataheader" id="environment{{.Scname}}">{{.Environment}}</td>
                <td class="dataheader" id="devicesactive{{.Scname}}">{{.Devicesactive}}</td>
                <td class="dataheader" id="changetime{{.Scname}}">{{.Changetime}}</td>
                <td class="dataheader" id="changeby{{.Scname}}">{{.Changeby}}</td>
                <td class="dataheader" id="comment{{.Scname}}">{{.Comment}}</td>
                <td>
                    <input type='button' id="popup_edit{{.Scname}}" value="Edit" class="edit_button" onclick="toggle_popup_form('{{.Scname}}')">
                </td>
            </tr>
            {{end}}
            <!-- '0' is a magic number for a new row, go handler takes care of this -->
            <tr id="row0">
                <td id="ip0"></td>
                <td id="location0"></td>
                <td id="version0"></td>
                <td id="nlc0"></td>
                <td id="scnumber0"></td>
                <td id="transportmode0"></td>
                <td id="environment0"></td>
                <td id="priconc0"></td>
                <td id="secconc0"></td>
                <td id="devicesactive0"></td>
                <td>
                    <input hidden type="button" id="edit_button0" value="Add" class="edit_button" onclick="edit_row('0')">
                    <input hidden type="button" id="save_button0" value="Save" class="save_button" onclick="save_row('0')">
                </td>
            </tr>
        </table>
        <p id="formdummy"></p></form>

        <div id="popupform">

            <h2 id="editformheading">Editing 192.168.181.sss</h2>
            <form id="formpopup" action="" method="post">
                <input hidden type="text" id="popupid" name="id"/>
                <input placeholder ="IP" type="text" class="popuptextbox" id="popupip" name="new_ip"/>
                <input placeholder ="Location Name" type="text" class="popuptextbox" id="popuplocation" name="new_location"/>
                <input placeholder ="Version"  type="text" class="popuptextbox" id="popupversion" name="new_version"/>
                <input placeholder ="NLC" type="text" class="popuptextbox" id="popupnlc" name="new_nlc"/>
                <input placeholder ="SC Number" type="text" class="popuptextbox" id="popupscnumber" name="new_scnumber"/>
                <input placeholder ="Transport Mode" type="text" class="popuptextbox" id="popuptransportmode" name="new_transportmode"/>
                <input placeholder ="Environment" type="text" class="popuptextbox" id="popupenvironment" name="new_environment"/>
                <input placeholder ="Pri Conc" type="text" class="popuptextbox" id="popuppriconc" name="new_priconc"/>
                <input placeholder ="Sec Conc" type="text" class="popuptextbox" id="popupsecconc" name="new_secconc"/>
                <input placeholder ="Your name(s)" type="text" class="popuptextbox" id="popupchangeby" name="new_changeby" required/>
                <textarea placeholder="Comment" class="popuptextarea" id="popupcomment" name="new_comment" required></textarea>

                <input class="save_button" type="button" value="Cancel" onclick="cancel_popup_form()">
                <input class="save_button" type="submit" value="Save" onclick="save_row()">
            </form>
        
        </div>
        
        {{range .}}
        <div id="detailedinfo{{.Scname}}" class="detailedview">
            <div id="priconc{{.Scname}}">{{.Priconc}}</div>
            <div id="secconc{{.Scname}}">{{.Secconc}}</div>
            <div id="comment1{{.Scname}}">{{.Comment}}</div>
        </div>
        {{end}}
    </body>
</html>