<html>
    <head>
      <meta charset="utf-8">
      <title>Table Gen 0.1</title>
      <link rel="stylesheet" href="/static/stylesheets/main.css">
    
      <style>
        h1 {
            font-family: arial, sans-serif;
        }
    
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Ip</th>
                <th>Location Name</th>
            </tr>
            {{range .Ip}}
            <tr>
                <td>{{.}}</td>
                <td>location</td>
            </tr>
            {{end}}
        </table>
    </body>
</html>